# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\sebi_\IdeaProjects\teme-proiect-etapa2-2020\teme\proiect-etapa2-energy-system\src\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
